@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

/* Remove espaçamentos padrão do navegador e ocupa toda a tela */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Google Sans", sans-serif;
  text-align: center;
}

/* Container principal: centralizado e ocupando toda a largura até o máximo de 720px */
.conteudo {
  width: 100%;
  max-width: 720px;
  height: auto;
  margin: auto;
}

/* Div de dados centralizado ocupando 90% do container */
.dados {
  width: 90%;
  margin: auto;
  border: 1px solid black;
  border-radius: 3px;
}

.dados label {
  display: block;
  margin: 25px 0 0 0;
  font-size: 25px;
}

/* Inputs ocupam toda a largura disponível, tem 50 pixels de altura e são centralizados */
.conteudo input {
  width: 90%;
  height: 50px;
  margin: auto;
  font-size: large;
  text-align: center;
}

/* Botão ocupa metade da largura disponível,tem 50 pixels de altura e é centralizado */
.conteudo button {
  width: 50%;
  height: 50px;
  margin: 0 auto 25px auto;
}

.conteudo h2 {
  padding: 20px 0 20px 0;
}

.conteudo p {
  font-size: 25px;
}

footer {
  width: 90%;
  max-width: 640px;
  height: 40px;
  margin: 20px auto;
  text-align: center;
}