/* Remove espaçamentos padrão do navegador e ocupa toda a tela */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Container principal: centralizado e ocupando toda a largura até o máximo de 720px */
.conteudo {
  width: 100%;
  max-width: 720px;
  height: auto;
  margin: auto;
}

/* Div de dados centralizado ocupando 90% do container */
.dados {
  width: 90%;
  margin: auto;
}

/* Inputs ocupam toda a largura disponível, tem 50 pixels de altura e são centralizados */
.conteudo input {
  width: 100%;
  height: 50px;
  margin: auto;
}

/* Botão ocupa metade da largura disponível,tem 50 pixels de altura e é centralizado */
.conteudo button {
  width: 50%;
  height: 50px;
  margin: auto;
}